<!DOCTYPE html>
<html>
  
<head>
    <title>Payment Successful</title>
      <style>
          .form-body {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid red;
            height: 100vh;
            background-color: red;
          }
      </style>
</head>

<body>
    <div class="form-body">
      <div>
        <h1>Payment Successful</h1>
        <p>Thank you for your payment. Your transaction has been completed successfully.</p>
      </div>
    </div>
</body>


</html>
